//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3
#define TVP1 4
#define TVP2 5

&mt {
    quick-tap-ms = <150>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <220>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        combo_tvp {
            timeout-ms = <100>;
            key-positions = <11 12 13>;
            bindings = <&tog 4>;
        };

        ZenHan {
            bindings = <&kp LANG_ZENKAKUHANKAKU>;
            key-positions = <12 13>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "BASE";
            bindings = <
             &kp Q       &kp W       &kp E        &kp R        &kp T        &kp Y    &kp U        &kp I        &kp O       &kp P
             &mt LGUI A  &mt LALT S  &mt LCTRL D  &mt LSHFT F  &kp G        &kp H    &mt RSHFT J  &mt RCTRL K  &mt RALT L  &mt RGUI SEMI
&kp AT_SIGN  &kp Z       &kp X       &kp C        &kp V        &kp B        &kp N    &kp M        &kp COMMA    &kp DOT     &kp FSLH       &kp BSLH
                                     &kp DEL      &lt 1 TAB    &kp SPACE    &kp RET  &lt 2 ESC    &kp BSPC
            >;
        };

        symbols {
            label = "SYM";
            bindings = <
              &kp EXCLAMATION  &kp DOUBLE_QUOTES  &kp HASH         &kp DOLLAR  &kp PERCENT       &kp AMPERSAND    &kp SQT        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp TILDE
              &none            &none              &kp C_VOLUME_UP  &kp C_PP    &kp LBKT          &kp RBKT         &kp GRAVE      &kp SEMICOLON         &kp COLON              &kp CARET
&out OUT_TOG  &none            &none              &kp C_VOL_DN     &kp K_MUTE  &kp LEFT_BRACE    &kp RIGHT_BRACE  &kp LESS_THAN  &kp GREATER_THAN      &kp QUESTION           &kp UNDERSCORE  &kp AT_SIGN
                                                  &trans           &trans      &trans            &mo 3            &kp KP_N0      &trans
            >;
        };

        num_and_nav_layer {
            label = "NM_NAV";
            bindings = <
           &kp KP_MINUS   &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_PLUS        &msc SCRL_DOWN  &msc SCRL_UP  &kp HOME      &mkp LCLK       &mkp RCLK
           &kp KP_DIVIDE  &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_MULTIPLY    &kp PAGE_UP     &kp LEFT      &kp UP_ARROW  &kp RIGHT       &mmv MOVE_UP
&kp EQUAL  &kp KP_N0      &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_DOT         &kp PAGE_DOWN   &kp END       &kp DOWN      &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT
                                     &trans     &lt 1 TAB  &mo 3              &trans          &kp C_PP      &trans
            >;
        };

        adjust_layer {
            label = "ADJ";
            bindings = <
        &sys_reset   &bt BT_CLR  &out OUT_TOG  &bt BT_SEL 3  &bt BT_SEL 0    &none   &kp F7  &kp F8  &kp F9  &kp F12
        &bootloader  &bt BT_NXT  &none         &bt BT_SEL 4  &bt BT_SEL 1    &trans  &kp F4  &kp F5  &kp F6  &kp F11
&trans  &none        &bt BT_PRV  &none         &none         &bt BT_SEL 2    &trans  &kp F1  &kp F2  &kp F3  &kp F10  &tog 4
                                 &trans        &trans        &trans          &trans  &trans  &trans
            >;
        };

        oonishi_layer {
            label = "Oniahi";
            bindings = <
             &kp Q           &kp L           &kp U       &kp COMMA    &kp LC(DOT)    &kp F      &kp W         &kp R        &kp Y            &kp P
             &mt LEFT_WIN E  &mt LEFT_ALT I  &mt LALT A  &mt LSHFT O  &kp MINUS      &kp K      &mt RSHFT T   &mt RCTRL N  &mt RIGHT_ALT S  &mt RIGHT_WIN H
&kp AT_SIGN  &kp Z           &kp X           &kp C       &kp V        &kp SEMI       &kp G      &kp D         &kp M        &kp J            &kp B            &tog 4
                                             &kp DEL     &lt 1 TAB    &kp SPACE      &kp ENTER  &lt 2 ESCAPE  &kp BSPC
            >;
        };
    };
};
